.container-fluid{
	padding: 0;
}
.row{
	margin: 0;
}
.navbar{
	margin-bottom: 0;
}
.col-md-12{
	padding: 0;
	display: inline-flex;
	#sidebar-wrapper{
		background-color: #eee;
		padding: 0;
		padding-top: 50px;
		overflow-y: scroll;
		max-height: 100vh;
	}
	#sidebar{
		min-height: 500vh;
		flex-basis: auto;
		padding: 0;
		flex-direction: column;
		flex-grow: 2;
		.list-group, .list-group-item{
			padding-right: 0;
			border-radius: 0;
			border-right: none;
		}
		a{
			padding: 10px 100px;
			padding-left: 20px;
			min-width: 150px;
			max-width: 300px;
			text-decoration:none;
			display: flex;
			flex-flow: column wrap;
		}
		.section-bar{
			font-size: 20px;
			cursor: pointer;
			a.level-1{
				color: $blue;
				padding-left: 10px;
			}
			&.active{
				background-color: $blue;
				// border: thin solid $blue;
				&>a{
					background-color: white;
				}
			}
			a.level-2{
				font-size: 16px;
				&.active{
					border: thin darken(#eee, 5%) solid;
					color: $bright-orange;
					background-color: #eee;
					font-size: 18px;
					font-weight: 400;
				}
			}
			.level-3 {
				font-size: 14px;
				.active{
					margin-left: 10px;
					color: $bright-orange;
					font-size: 18px;
				}
			}

			#lvl-2-Configuration{
				a.level-3{
					padding-left: 40px;
				}
				div.level-3{
					margin-bottom: 0;
				}
			}
		}
	}

	#doc-content{
		border-left: thin $blue solid;
		padding-top: 50px;
		max-height: 100vh;
		overflow-y: scroll;
		overflow-x: hidden;
		flex-flow: column nowrap;
		flex-shrink: 50;

		.doc{
			font-size: 16px;
			padding: 75px;
			padding-top: 0;

			h1, h2, h3, h4{
				margin-top: 0;
				padding-top: 25px;
			}

			p ~ h5 {
				font-weight: 400;
				padding-top: 30px;
				padding-right: 10px;
				color: $bright-orange;
				font-size: 18px;
				display: inline-block;
			}
			h5 + p {
				font-size: 18px;
				display: inline-block;
			}
			img{
				padding: 50px;
				max-width: 100%;
			}
		}
		>:nth-child(2n){
			background-color: #eee;
		}
	}
}

.footer{
	padding: 20px 50px;
	height: 70px;
}
