// line {
//     stroke-width: 3;
//     stroke: #ccc;
//     stroke-opacity: 0.2;
//     &:hover, &.selected {
//         stroke: white !important;
//         cursor: pointer;
//         stroke-opacity: 1;
//         stroke-width: 5;
//     }
// }

.edge{
    stroke-width: 3;
    stroke: #ccc;
    stroke-opacity: 0.2;
    &:hover, &.selected {
        stroke: white !important;
        cursor: pointer;
        stroke-opacity: 1;
        stroke-width: 5;
    }
    &.active{
    	@include active();
    	&.selected{

    	}
    	&.highlight{
    		@include highlight();
    		stroke-width: 3 !important;
	        stroke-opacity: .6 !important;
	        stroke: lighten($blue, 15%) !important;

    	}
    }

    &.inactive{
    	@include inactive();
    	&.highlight{
    		@include highlight();
	        stroke-width: 2 !important;
	        stroke-opacity: .3 !important;
	        stroke: $orange !important;
    	}
	}
}