// line {
//     stroke-width: 3;
//     stroke: #ccc;
//     stroke-opacity: 0.2;
//     &:hover, &.selected {
//         stroke: white;
//         cursor: pointer;
//         stroke-opacity: 1;
//         stroke-width: 5;
//     }
// }

.edge{
    stroke-width: 2;
    stroke: #ccc;
    stroke-opacity: 0.2;

    &.active{
    	@include active();
    	&:hover, &.selected {
	        stroke: white;
	        cursor: pointer;
	        stroke-opacity: 1;
	        stroke-width: 4;
	    }
    	&.highlight{
    		@include highlight();
    		stroke-width: 2;
	        stroke-opacity: .7;
	        stroke: lighten($blue, 30%);

    	}
    }

    &.inactive{
        display: none;
    	@include inactive();
    	&.highlight{
    		@include highlight();
	        stroke-width: 2;
	        stroke-opacity: .5;
	        stroke: $bright-orange;
    	}
	}
}