#filters {
    padding: 0.5em 1em;
    background-color: transparent;
    border-bottom: thin dashed $bright-orange;
    form{
        width: 100%;
    }

    #filter-relationships, #filter-nodes, 
    #toggle-nodes, #toggle-edges, 
    #toggle-captions {
        background-color: transparent;
        display: inline-block;
        width: 45%;
        margin-left: 2%;
        overflow: auto;
        text-align: center;
        vertical-align: top;
        button{
            color: white;
            width: 100%;
            // .caret{
            //     margin-left:  4px;
            //     color: $bright-orange;
            // }
        }
        #rel-dropdown, #node-dropdown{
            margin: 20px 0;
            border-radius: none;
            border: none;
            background: transparent;
            li{
                padding: 5px;
                &:first-child{
                margin-top: 40px;
                }

                &:hover{
                    background-color: rgba(white, .2);
                }
            }
        }
    }

    .active-label {
        color: white;
    }

    .disabled {
        color: rgba(white,.5);
        &:hover{
            color: $orange;
        }
    }
}