#filters {
    padding: 0.5em 1em;
    background-color: transparent;
    border-bottom: thin dashed $bright-secondary;
    color: white;
    
    form{
        width: 100%;
    }

    #filter-header{
        padding: 10px;
    }

    #filter-relationships, #filter-nodes{
        background-color: transparent;
        display: inline-block;
        width: 45%;
        margin-left: 2%;
        overflow: auto;
        text-align: center;
        vertical-align: top;
        #filter-node-header, #filter-rel-header{
            margin: 10px 0;
            cursor: pointer;
            background-color: transparent;
            border: none;
            border-radius: 0;
            width: 100%;
            h4{
                font-weight: 200;
                display: inline;
                color: white;
            }
            &:active{
                border: none;
                box-shadow: none;
            }
        }
        #rel-dropdown, #node-dropdown{
            margin: 20px 0;
            border-radius: none;
            border: none;
            background: transparent;
            li{
                padding: 5px;
                &:hover{
                    background-color: rgba(white, .2);
                }
            }
        }
    }

    .disabled {
        color: rgba(white,.5);
        &:hover{
            color: $secondary;
        }
    }
}