$blue: #1e75bb;
$orange: #FDC670;
$bright-orange: #E89619;

body{
	font-family: 'Source Sans Pro', 'Lato', 'Helvetica', 'sans-serif';
	color: black;
}

#alchemyLogo{
	img{
		margin-right: auto;
		margin-left: auto;
	}
}

.footer{
	#footer-ga-logo{
		height: 30px;
	}
	p{
		margin: 0 10%;
	}
}

#meet-the-team{
}

pre{
	height: 350px;
	overflow: scroll;
}