$blue: #1e75bb;
$orange: #FDC670;
$bright-orange: #E89619;

body{
	font-family: 'Source Sans Pro', 'Lato', 'Helvetica', 'sans-serif';
	color: black;
}

#alchemyLogo{
	img{
		margin-right: auto;
		margin-left: auto;
	}
}


#footer-ga-logo{
	height: 30px;
}

#meet-the-team{
	#team-html, #team-conf, #team-svg{
		height: 300px;
	}
}