.node {
    cursor: pointer;
    text.root {
        font-size: 32px;
    }
    text {
        display: none;
        fill: white;
        font-weight: 200;
        text-anchor: middle;
        z-index: 1000;
        //simulate text outline
        text-shadow: 1px 1px #333, -1px 1px #333, 1px -1px #333, -1px -1px #333;
    }

    &.active{
		@include active();
	    &.selected{        
	        text {
	            display: block;
	        }
	    }
        &:hover{
            text {
                display: block;
            }
        }
    }
}
