.node {
    cursor: pointer;
    circle  {
        fill: $blue;
        fill-opacity: 0.8;
        stroke: #127dc1;
        stroke-opacity: 1;
        &.root {
            fill: #90c73d;
            stroke: #90c73d;
        }
    }
    text.root {
        font-size: 32px;
    }
    text {
        display: none;
        fill: white;
        font-weight: 200;
        text-anchor: middle;
        z-index: 1000;
        //simulate text outline
        text-shadow: 1px 1px #333, -1px 1px #333, 1px -1px #333, -1px -1px #333;
    }

    &.active{
		@include active();
        fill: white;
		&.highlight{
			@include highlight();
	        circle{
	            fill-opacity: 1;
	            stroke: darken($blue, 40%);
	            stroke-width: 3px;
	            fill: white;
	        }
		}
	    &.selected, &:hover {        
	        circle {
	            stroke-width: 5px;
	            fill-opacity: .8;
	            stroke-opacity: 1;
	            stroke: white;
	            fill: white;
	        }
	        text {
	            display: block;
	        }
	    }
    }
    &.inactive{
    	@include inactive();
    	&.highlight{
    		@include highlight();
	        circle{
	            fill-opacity: 1;
	            stroke: $bright-orange;
	            stroke-width: 2px;
	            fill: white;
	        }
    	}
    }
}
