.node {
    cursor: pointer;
    circle  {
        fill: $blue;
        fill-opacity: 0.8;
        stroke: #127dc1;
        stroke-width: 6px;
        stroke-opacity: 1;
        // TODO: `.node` should have a `root` class
        // NOT `circle`.... uh.
        &.root {
            fill: #90c73d;
            stroke: #90c73d;
        }
    }
    text.root {
        font-size: 32px;
    }
    text {
        display: none;
        fill: #FFF;
        text-shadow: 1px 1px 0px #333;
        font-weight: 200;
        text-anchor: middle;
        z-index: 1000;
    }

    &.selected, &:hover {        
        circle {
            stroke-width: 12px;
            fill-opacity: .8;
            stroke-opacity: 1;
            stroke: white !important;
            fill: white !important;
        }
        text {
            display: block;
        }
    }

}
