svg {
    background: #252525;
    // margin-bottom: -3px;
    position: absolute;
    // top: 0;
    cursor: -webkit-grab;
    height: 100%;
    width: 100%;
    // background: -moz-radial-gradient(center, ellipse cover, #fff 50%, #c8d3d4 100%);
    // background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(50%, #fff), color-stop(100%, #c8d3d4));
    // background: -webkit-radial-gradient(center, ellipse cover, #fff 50%, #c8d3d4 100%);
    // background: -o-radial-gradient(center, ellipse cover, #fff 50%, #c8d3d4 100%);
    // background: -ms-radial-gradient(center, ellipse cover, #fff 50%, #c8d3d4 100%);
    // background: radial-gradient(ellipse at center, #fff 50%, #c8d3d4 100%);
    color: #333;

    /*z-index: -1;*/
}