// Alchemy colors
$blue: #68B9FE;
$orange: #FDC670;
$bright-orange: #E89619;
$ctrl-dash-background: url("images/maze-black.png");

@mixin highlight(){
    opacity: .8 !important;
}
@mixin inactive(){
    opacity: 0;
}
@mixin active(){
    opacity: 1;
}

@mixin tabs(){
    background-color: transparent;
    background-image: $ctrl-dash-background;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 0 5px rgba(white, .3);
}

@-webkit-keyframes pulse {
    0% {
        text-shadow: 0 0 10px rgba(white, .2), 0 0 12px rgba(white, .2), 0 0 16px rgba(white, .2);
    }
    25% {
        text-shadow: 0 0 12px rgba(white, .2), 0 0 15px rgba(white, .2), 0 0 20px rgba(white, .2), 0 0 6px rgba($blue, .7), 0 0 10px rgba($blue, .7);
    }
    50% {       
        text-shadow: 0 0 12px rgba(white, .2), 0 0 15px rgba(white, .2), 0 0 20px rgba(white, .2), 0 0 8px rgba($blue, .7), 0 0 10px rgba($blue, .7), 0 0 15px rgba($blue, .7);
    }
    75% {
        text-shadow: 0 0 12px rgba(white, .2), 0 0 15px rgba(white, .2), 0 0 25px rgba(white, .2), 0 0 8px rgba($blue, .7), 0 0 12px rgba($blue, .7), 0 0 15px rgba($blue, .7), 0 0 20px rgba($blue, .7);
    }
}

@keyframes pulse {
    0% {
        text-shadow: 0 0 10px rgba(white, .2), 0 0 12px rgba(white, .2), 0 0 16px rgba(white, .2);
    }
    25% {
        text-shadow: 0 0 12px rgba(white, .2), 0 0 15px rgba(white, .2), 0 0 20px rgba(white, .2), 0 0 6px rgba($blue, .7), 0 0 10px rgba($blue, .7);
    }
    50% {       
        text-shadow: 0 0 12px rgba(white, .2), 0 0 15px rgba(white, .2), 0 0 20px rgba(white, .2), 0 0 8px rgba($blue, .7), 0 0 10px rgba($blue, .7), 0 0 15px rgba($blue, .7);
    }
    75% {
        text-shadow: 0 0 12px rgba(white, .2), 0 0 15px rgba(white, .2), 0 0 25px rgba(white, .2), 0 0 8px rgba($blue, .7), 0 0 12px rgba($blue, .7), 0 0 15px rgba($blue, .7), 0 0 20px rgba($blue, .7);
    }
}

@-webkit-keyframes slide-in{
    0%{
        transform: translate(-100%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}

@keyframes slide-in{
    0%{
        transform: translate(-100%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}

@-webkit-keyframes slide-out{
    0% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

@keyframes slide-out{
    100% {
        transform: translate(-100%, 0);
    }
}