/* Variables */
body {
  font-family: 'Source Sans Pro', 'Lato', 'Helvetica', 'sans-serif';
  color: #333;
  font-weight: 300; }
  body h1, body h2, body h3, body h4, body h5, body .h1, body .h2, body .h3, body .h4, body .h5 {
    font-weight: 300; }

/*Override Main Content Styles*/
.header {
  background: #1e75bb;
  border-bottom: thin solid #175b8f;
  margin-bottom: 0px; }
  .header .h3 {
    padding: 0 20px;
    margin: 0;
    line-height: 70px;
    color: #E89619;
    text-shadow: 0px 0px 1px #1e75bb, 0px 0px 20px white; }

.footer {
  background: #eee; }

/* Panel Wrapper Styles*/
#footer-ga-logo {
  height: 30px; }

/* Button Styles */
#sm-alchemy-logo {
  padding: 20px 0; }
  #sm-alchemy-logo img {
    height: 90px; }

/* Override and add to bootstrap styles*/
.navbar-default {
  background-color: transparent;
  border-bottom: 0; }

.navbar {
  height: 70px; }

.nav-pills {
  padding-right: 20px;
  padding-top: 15px;
  float: right; }
  .nav-pills > li + li {
    margin: 0; }
  .nav-pills li > a {
    color: rgba(255, 255, 255, 0.7);
    border-radius: 0; }
  .nav-pills li {
    color: transparent;
    vertical-align: middle; }
    .nav-pills li a {
      padding-right: 10px;
      padding-left: 10px; }
      .nav-pills li a:active, .nav-pills li a:hover {
        color: #1e75bb; }

#tweet {
  padding-top: 20px;
  text-align: right; }

.navbar {
  font-size: 18px; }
  .navbar .nav-pills li a:hover {
    background-color: #fff; }
  .navbar .nav-pills li.active a:hover {
    background-color: #428BCA; }

.tooltip-inner {
  padding: 5px 10px;
  background: #175b8f; }

.tooltip {
  font-size: 14px; }

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #E89619; }

.btn {
  border: none;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

hr {
  border-top: solid 1px #E89619;
  margin: 0; }

#btn-alchemy-rel {
  background: rgba(30, 117, 187, 0.3);
  color: #1e75bb;
  margin-right: 10%;
  margin-top: -55px;
  float: right;
  border: thin solid rgba(30, 117, 187, 0.3);
  box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.7), 2px 2px 15px #1e75bb; }
  #btn-alchemy-rel img {
    height: 45px; }
  #btn-alchemy-rel h3 {
    margin-top: 10px;
    margin-bottom: 0; }
  #btn-alchemy-rel:active {
    background: rgba(30, 117, 187, 0.9);
    border: none; }
  #btn-alchemy-rel:focus, #btn-alchemy-rel:active {
    outline: none; }

div[role="search"] {
  display: none; }

nav.stickynav {
  /* Nav Search Styles */
  /* Nav Menu Styles*/ }
  nav.stickynav ul.current {
    overflow: auto; }
  nav.stickynav .wy-side-nav-search {
    background-color: #1e75bb; }
  nav.stickynav .wy-menu.wy-menu-vertical {
    font-size: 1.1em;
    overflow: auto; }
    nav.stickynav .wy-menu.wy-menu-vertical li.toctree-l1 {
      list-style: none; }
      nav.stickynav .wy-menu.wy-menu-vertical li.toctree-l1 a:active {
        background-color: #1e75bb; }
    nav.stickynav .wy-menu.wy-menu-vertical li.toctree-l2 {
      border-bottom: solid rgba(30, 117, 187, 0.4) thin;
      list-style: none; }
      nav.stickynav .wy-menu.wy-menu-vertical li.toctree-l2 a {
        color: #1e75bb; }
      nav.stickynav .wy-menu.wy-menu-vertical li.toctree-l2 a:hover {
        color: #fff;
        background-color: #1e75bb; }
      nav.stickynav .wy-menu.wy-menu-vertical li.toctree-l2 a:active {
        background-color: white; }
    nav.stickynav .wy-menu.wy-menu-vertical a.toctree-l3 {
      padding-left: 3.5em; }
      nav.stickynav .wy-menu.wy-menu-vertical a.toctree-l3:hover {
        color: #1e75bb;
        background-color: #fff; }
      nav.stickynav .wy-menu.wy-menu-vertical a.toctree-l3:active {
        background-color: white; }

section.wy-nav-content-wrap {
  overflow: scroll; }
  section.wy-nav-content-wrap ul li {
    list-style: disc;
    margin-left: 24px; }

img[alt="Two Nodes"] {
  align: center;
  max-height: 300px; }

div[role="main"] ol {
  list-style: decimal !important; }
  div[role="main"] ol li {
    list-style: decimal !important; }
