<div class="row">
    <h2>Description</h2>
      <p class="lead">{{current_example.desc}}</p>
</div>

<div class = "row" id="example4">
    <div id="graph-container" style="height:450px">
    	<h3 class="filename">Graph</h3>
    	<div class="alchemy" id="alchemy4"  style="width: 100%;"></div>
    </div>
</div>

<div class="row example-code">
  <h3 class="filename">HTML and Configuration</h3>
<pre pretty-print>
&lt;html&gt;
&lt;head&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;http://cdn.graphalchemist.com/alchemy.min.css&quot;/&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;div class=&quot;alchemy&quot; id=&quot;graph&quot;&gt;&lt;/div&gt;

  &lt;script src=&quot;http://cdn.graphalchemist.com/alchemy.min.js&quot;&gt;&lt;/script&gt;
  &lt;script type=&quot;text/javascript&quot;&gt;

    var config = {
      dataSource: 'data/charlize.json',
      
      linkDistance: function(){ return 40; },

      nodeTypes: {"type":["movie", 
                          "award", 
                          "person"]},
      caption: function(node){ 
          return node.caption; 
      }
    };

    alchemy.begin(config)
  &lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
  </pre>
</div>

<div class="row example-code">
  <h3 class="filename">custom.css</h3>
  <pre class="prettyprint lang-css">
    <code>
      circle {
          fill: white;
          fill-opacity: .5;
          stroke-width: 3;
          stroke-opacity: 1;
          stroke: black;
      }

      circle.root {
          stroke-width: 5;
          fill: lightblue;
          fill-opacity: 1;
      }

      circle.award {
          stroke: yellow;
          stroke-width: 1;
      }

      circle.person {
          stroke: lightblue;
          stroke-width: 1;
      }
      .selected circle{
          fill-opacity: 1;
          stroke-width: 4;
          stroke: lightblue;
      }

      .edge {
          stroke-linecap: round;
          stroke: lightblue;
          stroke-opacity: 0.4;
          stroke-width: 2;
      }

      .edge.NOMINATED {
          stroke: lightblue;
      }

      .edge.RECEIVED {
          stroke-dasharray: 10,5,2,2,2,5;
          stroke: yellow;
          stroke-opacity: 1;
      }

      .edge.ACTED_IN {
          stroke: green;
      }

      .edge.selected {
          stroke: lightblue;
          stroke-opacity: 1;
          stroke-dasharray: none;
      }
    </code>
  </pre>
</div>

<div class="row example-code">
  <h3 class="filename">graphJSON</h3>
  
   <pre class="prettyprint lang-js"> 
  </pre> 

</div>

<script type="text/javascript">
    // Blank any possible instance.
    d3.select("svg").remove()
    alchemy._nodes = {}
    alchemy._edges = {}

    $.get("data/charlize.json", (function(res){
          $(".lang-js").html(JSON.stringify(res, null, '\t'));
        })
    );
    // start
    var config = {
      divSelector:"#alchemy4",
      dataSource: 'data/charlize.json',

      linkDistance: function(){ return 40; },
      forceLocked: false,
      nodeTypes: {"type":["movie", "award", "person"]},
      caption: "caption"
      };

    alchemy.begin(config);
    $('pre').addClass('prettyprint');
    prettyPrint();
</script>
