<link rel="stylesheet" type="text/css" href="styles/custom.css">
<div class = "row">
    <div id="graph-container" class="col-md-12" style="height:450px">
    	<h3 class="filename">Graph</h3>
    	<div class="alchemy" id="alchemy"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6" id="example-code">
    	<h3 class="filename">HTML and Configuration</h3>
        <pre>
<code>
&lt;html&gt;
  &lt;head&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;vendor.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;alchemy.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;custom.css&quot;/&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div class=&quot;alchemy&quot; id=&quot;graph&quot;&gt;&lt;/div&gt;

    &lt;script src=&quot;scripts/vendor.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;alchemy.min.js&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot;&gt;

      var config = {
        dataSource: 'data/charlize.json',
        
        linkDistance: function(){ return 40; },

        nodeTypes: {"node_type":["move", 
                                 "award", 
                                 "person"]},
        caption: function(node){ 
            return node.caption; 
        }
      };

      alchemy.begin(config)
    &lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
</code>
		</pre>
    </div>
    <div class="col-md-6">
    	<h3 class="filename">custom.css</h3>
        <pre>
<code>
circle {
    fill: white;
    fill-opacity: .5;
    stroke-width: 3;
    stroke-opacity: 1;
    stroke: black;
}

circle.root {
    stroke-width: 5;
    fill: lightblue;
    fill-opacity: 1;
}

circle.award {
    stroke: yellow;
    stroke-width: 1;
}

circle.person {
    stroke: lightblue;
    stroke-width: 1;
}
.selected circle{
    fill-opacity: 1;
    stroke-width: 4;
    stroke: lightblue;
}

.edge {
    stroke-linecap: round;
    stroke: lightblue;
    stroke-opacity: 0.4;
    stroke-width: 2;
}

.edge.NOMINATED {
    stroke: lightblue;
}

.edge.RECEIVED {
    stroke-dasharray: 10,5,2,2,2,5;
    stroke: yellow;
    stroke-opacity: 1;
}

.edge.ACTED_IN {
    stroke: green;
}

.edge.selected {
    stroke: lightblue;
    stroke-opacity: 1;
    stroke-dasharray: none;
}


</code>
        </pre>
    </div>
</div>

  <script type="text/javascript">
    var config = {
          dataSource: 'data/charlize.json',

          linkDistance: function(){ return 40; },
          forceLocked: false,
          nodeTypes: {"type":["movie", "award", "person"]},
          caption: "caption"
          };

    alchemy.begin(config);
    $('pre').addClass('prettyprint');
    prettyPrint();
</script>
