	<div class="container-fluid">
	    <div class="row" id ="examples">
	    	<div class="col-md-12">
		        <div class="row">
				  <div id= "example-list" class = "list-group col-md-3">
				    <a class="list-group-item active h1" href="#example">Examples</a>
				    <a class="list-group-item example-list"href="#example1">Basic Graph</a>
				    <a class="list-group-item example-list" href="#example2">Embedded Graphs</a>
				    <a class="list-group-item example-list" href="#example3">Full Application</a>
				    <a class="list-group-item example-list" href="#example4">Custom Styling</a> 
		    		</div>
		    	</div>
			</div>
		</div>
	</div>
