<div ng-controller="examplesCtrl" id="graph-container-full">
	<button ng-click='hideViz()' id='from-full-app-btn' type='button' class='btn btn-default' href='#'>
	    <h3><i class = 'glyphicon glyphicon-arrow-left'></i>Back to Examples</h3>
	</button>
   	<div class="alchemy" id="alchemy"></div>
</div>


<script type="text/javascript">
  var config = {
    dataSource: 'data/team.json',                      
  
    // forceLocked: false,
    cluster: true,
  
    nodeTypes: {"node_type":["family", "coworker", 
                             "classmate", "friend", 
                             "other"]},
    nodeCaption: "firstName",
    // rootNodeRadius: 30,
    
    showControlDash: true,
  
    showStats: true,
    nodeStats: true,
  
    showFilters: true,
    nodeFilters: true,
  
    captionToggle: true,
    edgesToggle: true,
    nodesToggle: true,
    toggleRootNotes: false,
    
    zoomControls: true
  };
  
  alchemy.begin(config)
</script>