node_modules
.tmp
.sass-cache
*.DS_Store
app/bower_components
app/scripts/testConf.coffee
app/scripts/alchemy/.DS_Store
test/bower_components
dist/
ToDo.md
Alchemy.wiki
/site
testConf.coffee
app/index.html
