<div class=container-fluid><div class="row text-center" id=alchemy-logo><img src=images/de4eb130.alchemy-01.svg></div><div class=row><div class=col-md-12 id=about><h1>Alchemy.js</h1><p>Description of Alchemy.js and how it's used</p><h5>You can read more about how alchemy.js is used in the <a href=/documentation>Docs</a></h5></div></div><div class=row id=meet-the-team><div class=col-md-12 id=team-info><div class=row><h2>Meet the Team</h2><h4>Want to contribute? For information on contributing, check out the contributing section of our <a href=/documentation/Contributing>docs.</a></h4></div><div class=row><div class="col-md-12 alchemy" id=team-svg></div></div><div class=row><div class=col-md-6 id=team-html><h3>Configuration and HTML</h3><pre>
                            <p class=filename>HTML and Configuration</p>
                            <code>
                              &lt;html&gt;
                                &lt;head&gt;
                                  &lt;link rel=&quot;stylesheet&quot; href=&quot;../dist/styles/vendor.css&quot;/&gt;
                                  &lt;link rel=&quot;stylesheet&quot; href=&quot;../dist/alchemy.min.css&quot;/&gt;
                                &lt;/head&gt;
                                &lt;body&gt;
                                  &lt;div class=&quot;alchemy&quot; id=&quot;graph&quot;&gt;&lt;/div&gt;
                              
                                  &lt;script src=&quot;../dist/scripts/vendor.js&quot;&gt;&lt;/script&gt;
                                  &lt;script src=&quot;../dist/alchemy.min.js&quot;&gt;&lt;/script&gt;
                                  &lt;script type=&quot;text/javascript&quot;&gt;

                                                                            var config = {
                                          dataSource: 'data/contrib.json',
                                          graphHeight: 260,
                                          graphWidth: 300,
                                          
                                          linkDistance: function(){ return 40; },

                                          nodeTypes: {"node_type":["GA CEO", "GA Employee", "Contributor"]},
                                          caption: function(node){ return node.caption; }
                                          };

                                      alchemy.begin(config)
                                  &lt;/script&gt;
                                &lt;/body&gt;
                              &lt;/html&gt;
                            </code>
                          </pre></div><div class=col-md-6 id=team-data><h3>Contributor Data</h3><pre>
                        <code>
{
    "comment": "AlchemyJS contributors",
    "nodes": [
        {
            "id": 0,
            "caption": "AlchemyJS",
            "role": "project",
            "node_type": "root"
        },
        {
            "id": 1,
            "caption": "Huston Hedinger",
            "github": "hustonhedinger",
            "role": "Maintainer",
            "fun_fact": "hooligan"
        },
        {
            "id": 2,
            "caption": "Grace Andrews",
            "github": "Grace-Andrews",
            "role": "Maintainer",
            "fun_fact": "was born left handed, now right handed."
        },
        {
            "id": 3,
            "caption": "Isabella Jorissen",
            "github": "ifjorissen",
            "role": "Maintainer",
            "fun_fact": "knows a lot of digits of pi. Also loves pie."
        },
        {
            "id": 4,
            "caption": "Matt Cox",
            "github": "MDCox",
            "role": "Maintainer",
            "fun_fact": "is not fun"
        },
        {
            "id": 5,
            "caption": "Dave Torbeck",
            "github": "DaveTorbeck",
            "role": "Contributor",
            "fun_fact": ""
        }
    ],
    "edges": [
        {
            "source": 1,
            "target": 0,
            "caption": "Maintains"
        },
        {
            "source": 2,
            "target": 0,
            "caption": "Maintains"
        },
        {
            "source": 3,
            "target": 0,
            "caption": "Maintains"
        },
        {
            "source": 4,
            "target": 0,
            "caption": "Often Breaks"
        },
        {
            "source": 5,
            "target": 0,
            "caption": "contributes"
        }
    ]
}
                            </code>
                        </pre></div></div></div></div></div><script type=text/javascript>var config = {
    divSelector: "#team-svg",
    dataSource: 'data/contrib.json',
    forceLocked: false,
    linkDistance: function() {
        return 50;
    },
    nodeRadius: 15,
    rootNodeRadius: 20,
    nodeTypes: {
        "role": ["Maintainer", "Contributor"]
    },
    caption: function(node) {
        return node.caption + ' ' + node.fun_fact;
    }
};
alchemy.begin(config);</script>