<div ng-controller=examplesCtrl id=graph-container-full ng-init=showViz()><button ng-click=hideViz() id=from-full-app-btn type=button class="btn btn-default" href=#><h3><i class="glyphicon glyphicon-arrow-left"></i>Back to Examples</h3></button><div class=alchemy id=alchemy></div></div><script type=text/javascript>var config = {
	  dataSource: 'data/charlize.json',                      
	  
	  graphHeight: function() { return 900; },
	  forceLocked: false,

	  nodeTypes: {"node_type":["movie", "award", "person"]},
	  edgeTypes: ["ACTED_IN", "NOMINATED", "RECEIVED", "PARENT_OF", "PARTNER_OF", "BORN_AT", "PRODUCED"],
	  
	  showControlDash: true,

	  showStats: true,
	  nodeStats: true,
	  edgeStats: true,

	  showFilters: true,
	  nodeFilters: true,
	  edgeFilters: true,

	  captionToggle: true,
	  edgesToggle: true,
	  nodesToggle: true,
	  toggleRootNotes: false,
	  
	  zoomControls: true,

	  caption: function(node){ return node.caption; }
	  };

	alchemy.begin(config)</script>