    <section in-view="snapElement($inview, $inviewpart)" class="row" id="info-wrapper">
        <div class="row text-center" id="alchemy-logo">
            <div class="col-xs-12">
                <img src="images/alchemy-01.svg"></img>
                <h1>A graph visualization application for the web.</h1>
            </div>
            <h3><a href="https://github.com/GraphAlchemist/Alchemy/releases/download/#VERSION#/#VERSION#.zip" class="text-muted">v#VERSION#</a></h3>
        </div>
        <i class="fa fa-arrow-down float-right" ng-click="sectionSnap('#config-wrapper')"></i>
    </section>
    <section in-view="snapElement($inview, $inviewpart)" class="row" id="config-wrapper">
        <i class="fa fa-arrow-up float-right" ng-click="sectionSnap('#info-wrapper')"></i>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>Alchemy.js works out of the box, and is easily customizable.</h1>
            </div>
        </div>
        <div class="row" id="code">
            <code>
                alchemy.begin(yourConfig);
            </code>
        </div>
        <i class="fa fa-arrow-down float-right" ng-click="sectionSnap('#carousel-wrapper')"></i>
    </section>  
    <section in-view="snapElement($inview, $inviewpart)" class="row" id="carousel-wrapper">
        <i class="fa fa-arrow-up float-right" ng-click="sectionSnap('#config-wrapper')"></i>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>Create full applications with built-in features like search, clustering, and filters, or embed small graphs as visual elements in larger projects.</h1>
            </div>
        </div>
        <div class = "row">
            <div class="col-md-10 col-md-offset-2" id="featureCarousel" ng-app="featCarousel" ng-controller="carouselCtrl">
                <carousel interval="myInterval">
                  <slide ng-repeat="slide in slides" active="slide.active">
                    <div class="carousel-caption">
                      <h1>{{slide.text}}</h1>
                    </div>
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                  </slide>
                </carousel>
             </div>
        </div>
        <i class="fa fa-arrow-down" ng-click="sectionSnap('#team-wrapper')"></i>
    </section>

    <section in-view="snapElement($inview, $inviewpart)" class="row" id="team-wrapper">
    <i class="fa fa-arrow-up" ng-click="sectionSnap('#carousel-wrapper')"></i>
        <div class="col-md-12" id="team-info">
            <div class="row contributing">
                <div class="col-md-10 col-md-offset-1">
                    <h1>Contribute!</h1>

                    <h2>Want to include Alchemy.js in your project? To learn how to get Alchemy.js up and running in your project, check out the <a href="docs/#quick-start">Quick Start docs</a>.</h2>
                    <h2>Want to contribute? For information on contributing, check out the <a href="docs/Contributing">contributing section of our docs.</a></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1" id="team-svg">
                    <div id="alchemy"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-1" id="team-html">
                    <h3>Configuration and HTML</h3>
                    <pre pretty-print>
                        <code>
&lt;html&gt;
&lt;head&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;styles/vendor.css&quot;/&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;styles/alchemy.css&quot;/&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;div class=&quot;alchemy&quot; id=&quot;alchemy&quot;&gt;&lt;/div&gt;

  &lt;script src=&quot;scripts/vendor.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;scripts/alchemy.js&quot;&gt;&lt;/script&gt;
  &lt;script type=&quot;text/javascript&quot;&gt;

    var config = {
      dataSource: 'data/contrib.json',
      graphHeight: 260,
      graphWidth: 300,
      
      linkDistance: function(){ return 40; },

      nodeTypes: {"node_type": ["Maintainer", "Contributor"]},
      caption: function(node){ return node.caption; }
      };

    alchemy.begin(config)
  &lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
                        </code>
                    </pre>
                </div>

                <div class="col-md-5" id="team-data">
                    <h3>Contributor Data</h3>
                    <pre pretty-print>
                        <code>
{
    "comment": "AlchemyJS contributors",
    "nodes": [
        {
            "id": 0,
            "caption": "AlchemyJS",
            "role": "project",
            "node_type": "root"
        },
        {
            "id": 1,
            "caption": "Huston Hedinger",
            "github": "hustonhedinger",
            "role": "Maintainer",
            "fun_fact": "hooligan"
        },
        {
            "id": 2,
            "caption": "Grace Andrews",
            "github": "Grace-Andrews",
            "role": "Maintainer",
            "fun_fact": "was born left handed, now right handed."
        },
        {
            "id": 3,
            "caption": "Isabella Jorissen",
            "github": "ifjorissen",
            "role": "Maintainer",
            "fun_fact": "knows a lot of digits of pi. Also loves pie."
        },
        {
            "id": 4,
            "caption": "Matt Cox",
            "github": "MDCox",
            "role": "Maintainer",
            "fun_fact": "is not fun"
        },
        {
            "id": 5,
            "caption": "Dave Torbeck",
            "github": "DaveTorbeck",
            "role": "Contributor",
            "fun_fact": ""
        }
    ],
    "edges": [
        {
            "source": 1,
            "target": 0,
            "caption": "Maintains"
        },
        {
            "source": 2,
            "target": 0,
            "caption": "Maintains"
        },
        {
            "source": 3,
            "target": 0,
            "caption": "Maintains"
        },
        {
            "source": 4,
            "target": 0,
            "caption": "Often Breaks"
        },
        {
            "source": 5,
            "target": 0,
            "caption": "contributes"
        }
    ]
}
                            </code>
                        </pre>
                </div>
            </div>
        </div>
    <script type="text/javascript">
    if(alchemy.force) { alchemy.force.stop() }
    d3.select("svg").remove()
    alchemy._nodes = {}
    alchemy._edges = {}    

      var config = {
          dataSource: 'data/contrib.json',
          renderer: "svg",
          graphWidth: function() {
            return d3.select(this.divSelector).node().parentElement.clientWidth;
          },
          graphHeight: function() {
            if (d3.select(this.divSelector).node().parentElement.nodeName === "BODY") {
              return window.innerHeight;
            } else {
              return d3.select(this.divSelector).node().parentElement.clientHeight;
            }
          },
          alpha: 0.5,
          collisionDetection: true,
          nodeOverlap: 25,
          fixNodes: false,
          fixRootNodes: false,
          forceLocked: false,
          linkDistance: function(){ return 40; },          
          nodePositions: null,
          showEditor: false,
          captionToggle: false,
          toggleRootNodes: false,
          removeElement: false,
          cluster: false,
          clusterKey: "cluster",
          clusterColours: d3.shuffle(["#DD79FF", "#FFFC00", "#00FF30", "#5168FF", "#00C0FF", "#FF004B", "#00CDCD", "#f83f00", "#f800df", "#ff8d8f", "#ffcd00", "#184fff", "#ff7e00"]),
          clusterControl: false,
          nodeStats: false,
          edgeStats: false,
          edgeFilters: false,
          nodeFilters: false,
          edgesToggle: false,
          nodesToggle: false,
          zoomControls: false,
          nodeCaption: function(node){ return node.caption + " " + node.fun_fact; },
          nodeCaptionsOnByDefault: false,
          nodeStyle: {
            "all": {
              "radius": 10,
              "color": "#68B9FE",
              "borderColor": "#127DC1",
              "borderWidth": function(d, radius) {
                return radius / 3;
              },
              "captionColor": "#FFFFFF",
              "captionBackground": null,
              "captionSize": 12,
              "selected": {
                "color": "#FFFFFF",
                "borderColor": "#349FE3"
              },
              "highlighted": {
                "color": "#EEEEFF"
              },
              "hidden": {
                "color": "none",
                "borderColor": "none"
              }
            }
          },
          nodeColour: null,
          nodeMouseOver: 'caption',
          nodeRadius: 10,
          nodeTypes: {"node_type":["Maintainer", "Contributor"]},
          rootNodes: 'root',
          rootNodeRadius: 15,
          edgeCaption: 'caption',
          edgeCaptionsOnByDefault: false,
          edgeClick: 'default',
          edgeStyle: {
            "all": {
              "width": 4,
              "color": "#CCC",
              "opacity": 0.2,
              "directed": true,
              "curved": true,
              "selected": {
                "opacity": 1
              },
              "highlighted": {
                "opacity": 1
              },
              "hidden": {
                "opacity": 0
              }
            }
          },
          edgeTypes: null,
          curvedEdges: false,
          edgeWidth: function() {
            return 4;
          },
          edgeOverlayWidth: 20,
          directedEdges: false,
          edgeArrowSize: 5,
          search: false,
          searchMethod: "contains",
          backgroundColour: "#000000",
          theme: null,
          afterLoad: 'afterLoad',
          divSelector: '#alchemy',
          initialScale: 1,
          initialTranslate: [0, 0],
          scaleExtent: [0.5, 2.4],
          dataWarning: "default",
          warningMessage: "There be no data!  What's going on?"
    };

    setTimeout(function(){
      if (!d3.select("#alchemy").empty() && d3.select("#alchemy svg").empty()){
        alchemy.begin(config)    
      }}, 300)
</script>
</section>

