<div class="navbar navbar-default navbar-fixed-top {{showNav}}" ng-app="navigation" ng-controller="navCtrl">
    <div class="header">
    <ul class="nav nav-pills" ng-init="init()">
        <!-- angular links -->
        <li ng-repeat="link in links" ng-click="active(link.href)" class="{{link.state}}" tooltip-placement="bottom" tooltip="{{link.tooltip}}"><a>{{link.name}}</a></li>
        <!-- static links to docs and github -->
        <li><a href="docs">Documentation</a></li>
    </ul>
    <a href="/" style="text-decoration: none;">
        <span id="project" class="h3" id="project">Alchemy.js</span>
    </a>  
    </div>
    <div id="nav-tabs">
<!--         <img src="https://twitter.com/favicons/favicon.ico"></img> -->
    <!-- <a href="https://github.com/you"><img style="position: absolute; top: 50; left: 0; border: 0;" src="https://camo.githubusercontent.com/c6286ade715e9bea433b4705870de482a654f78a/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png"></a>
    <a class="share-button" popup-tweet type="button" id="custom-tweet-button" href="https://twitter.com/share?=http%3A%2F%2Fgraphalchemist.github.io%2FAlchemy%2F&text=Check%20out%20Alchemy.js,%20a%20graph%20visualization%20app%20built%20in%20d3%20by%20@GraphAlchemist%20%23Alchemyjs%20" target="_blank"><i class = "social-icon fa fa-twitter fa-2x"></i></a>
    </a> -->
<!--     <a id="gh-star" class="share-button" href="https://github.com/GraphAlchemist/Alchemy/stargazers/" type="button" id = "github-star"><i class="social-icon fa fa-github fa-2x" tooltip-placement="bottom" tooltip="43{{stargazers_count}}"></i>43{{stargazers_count}}</a>
    <a id="gh-fork" class="share-button" href="https://github.com/GraphAlchemist/Alchemy/network/" type="button" id = "github-fork" tooltip-placement="bottom" tooltip="9{{forks_count}}"><i class="social-icon fa fa-github fa-2x"></i>9{{forks_count}}</a> -->
    <div id = "alchemy-social" class = "share-button" tooltip-placement="bottom" tooltip="You'll like it, we promise.">
        <a id="btn-alchemy-rel" type="button" class="btn btn-default" href="https://github.com/GraphAlchemist/Alchemy/releases/">
        <img src="images/alchemyLogoFlat.png"></img>
        <h3>Download</h3>
        </a>
        <div id="gh-fork-share">
            <iframe src="http://ghbtns.com/github-btn.html?user=graphalchemist&repo=alchemy&type=fork&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="120" height="30"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=graphalchemist&repo=alchemy&type=watch&count=true&size=large"
          allowtransparency="true" frameborder="0" scrolling="0" width="120" height="30"></iframe>
            <a href="https://twitter.com/share?size=large&text=Check%20out%20Alchemy.js,%20a%20graph%20visualization%20app%20built%20in%20d3%20by%20@GraphAlchemist%20%23Alchemyjs%20" class="twitter-share-button" data-url="http://graphalchemist.github.io/Alchemy" data-lang="en">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
    </div>
</div>
