<div class="navbar navbar-default navbar-fixed-top {{showNav}}" ng-app="navigation" ng-controller="navCtrl">
    <div class="header">
    <ul class="nav nav-pills" ng-init="init()">
        <!-- angular links -->
        <li ng-repeat="link in links" ng-click="active(link.href)" class="{{link.state}}" tooltip-placement="bottom" tooltip="{{link.tooltip}}"><a>{{link.name}}</a></li>
        <!-- static links to docs and github -->
        <li><a href="https://github.com/GraphAlchemist/Alchemy/">Github</a></li>
        <li><a href="documentation">Documentation</a></li>
        <li><a href="documentation/Contributing">Contribute</a></li>
    </ul>
    <a href="/" style="text-decoration: none;">
        <span id="project" class="h3" id="project">Alchemy.js</span>
    </a> 
 <!--    <div id="custom-tweet-button">
        <img src="https://twitter.com/favicons/favicon.ico"></img>
        <a class="h3" href="https://twitter.com/share?=http%3A%2F%2Fgraphalchemist.github.io%2FAlchemy%2F&text=Check%20out%20Alchemy.js,%20a%20graph%20visualization%20app%20built%20in%20d3!" target="_blank">Share Alchemy.js with your friends</a>
    </div> -->   
    </div>
    <div id="nav-tabs">
    <div popup-tweet id="custom-tweet-button">
        <img src="https://twitter.com/favicons/favicon.ico"></img>
        <a class="h3" href="https://twitter.com/share?=http%3A%2F%2Fgraphalchemist.github.io%2FAlchemy%2F&text=Check%20out%20Alchemy.js,%20a%20graph%20visualization%20app%20built%20in%20d3!" target="_blank">Share Alchemy.js with your friends</a>
    </div>
    <a id="btn-alchemy-rel" type="button" class="btn btn-default" href="https://github.com/GraphAlchemist/Alchemy/releases/" tooltip-placement="bottom" tooltip="You'll like it, we promise.">
        <img src="images/alchemyLogoFlat.png"></img>
        <h3>Download</h3>
    </a>
    </div>
</div>
