<div class="navbar navbar-default navbar-fixed-top {{showNav}}" ng-app="navigation" ng-controller="navCtrl">
    <div class="header">
    <ul class="nav nav-pills" ng-init="init()">
        <!-- angular links -->
        <li ng-repeat="link in links" ng-click="active(link.href)" class="{{link.state}}" tooltip-placement="bottom" tooltip="{{link.tooltip}}"><a>{{link.name}}</a></li>
        <!-- static links to docs and github -->
        <li><a href="docs">Documentation</a></li>
    </ul>
    <a href="/Alchemy" style="text-decoration: none;">
        <span id="project" class="h3" id="project">Alchemy.js</span>
    </a>  
    </div>
        <div id = "alchemy-social" class = "share-button" tooltip-placement="bottom" tooltip="You'll like it, we promise.">
            <a id="btn-alchemy-rel" ng-class="{'hidden': hidden == true}" type="button" class="btn btn-default" href="https://github.com/GraphAlchemist/Alchemy/releases/download/#VERSION#/#VERSION#.zip">
                <img src="images/alchemyLogoFlat.png"></img>
                <h3>Download</h3>
            </a>
            <div id="social-hide" ng-click="socialToggle()" type="button"><i class = "glyphicon glyphicon-remove"></i></div>
            <div id="#social-icons" ng-class="{'hidden': hidden == true}">
                <iframe src="http://ghbtns.com/github-btn.html?user=graphalchemist&repo=alchemy&type=fork&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="130" height="30"></iframe>
                <iframe src="http://ghbtns.com/github-btn.html?user=graphalchemist&repo=alchemy&type=watch&count=true&size=large"
              allowtransparency="true" frameborder="0" scrolling="0" width="130" height="30"></iframe>
                <a href="https://twitter.com/share?size=large&text=Check%20out%20Alchemy.js,%20a%20graph%20visualization%20app%20built%20in%20d3%20by%20@GraphAlchemist%20%23Alchemyjs%20" class="twitter-share-button" data-url="http://graphalchemist.github.io/Alchemy" data-lang="en">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
    </div>
</div>
