/* Variables */
$blue: #1e75bb;
$orange: #FDC670;
$bright-orange: #E89619;

body{
	font-family: 'Source Sans Pro', 'Lato', 'Helvetica', 'sans-serif';
	color: black;
}

nav.stickynav {
	// background-color: black;
	ul.current {overflow: auto;}

	/* Nav Search Styles */
	.wy-side-nav-search{
		background-color: $blue;
	}


	/* Nav Menu Styles*/
	.wy-menu.wy-menu-vertical{
		font-size: 1.1em;
		overflow: auto;

		li.toctree-l1{
			list-style: none;
			& a:active{
				background-color: $blue;
			}
		}
		li.toctree-l2{
			border-bottom: solid rgba($blue, .4) thin;
			list-style: none;
			& a{
				color: $blue;
			}
			& a:hover{
				color: #fff;
				background-color: $blue;
			}
			& a:active{
				background-color: white;
			}
		}

		a.toctree-l3{
			padding-left: 3.5em;
			&:hover{
				color: $blue;
				background-color: #fff;
			}
			&:active{
				background-color: white;
			}
		}
	}
}

section.wy-nav-content-wrap {
	overflow: scroll;
	
	ul {
		li {
			list-style: disc;
			margin-left: 24px;
		}
	}
}


// ul.current {
// 	li {
// 		list-style: none;
// 	}
// }

img {
	&[alt="Two Nodes"] {
		align: center;
		max-height: 300px;
	}
}


// ol {
// 	li {
// 		list-style: decimal;
// 	}
// }