#examples{
	margin: 0 5%;
	padding: 5% 0 0 0;
	.active{
		background-color: $blue;
		border: none;
		&.example{
			margin-left: 20px;
		}
		&:after{
			content: "";
			border: 10px $blue solid;
			position: absolute;
			top: 0;
			right: -20px;
			height: 100%;
		}
	}
	a.list-group-item.h1{
		color: black;
		&:hover{
			background-color: white;
		}
	}
}
#example3{
	margin:0;
	#graph-container{
		padding:0;
		height: 100%;
	}
}

#example-list{
	padding: 0 20px;
	.example{
		font-size: 16px;
		padding: 20px;
		&:last-child{
			border-radius: 0;
		}
	}

}

#full-app-btn{
	transform: translate(0, 50%);
	padding-left: 20px;
	background: $blue;
	color: white;
	border: 3px solid darken($blue, 10%);
	border-radius: 0;
	float: left;
	margin-left: -3px;
	h3{
		margin: 10px;
		margin-left: 0;
		i{
			color: $bright-orange;
		}
	}
	&:active{
		background: rgba($blue, .9);
		border: none;
	}
	&:focus, &:active{
		outline: none;
	}
}

#example1, #example2, #example4, #example3-code{
	background-color: white;
	padding: 10px;
	border: 3px $blue solid;
	border-radius: 5px;
	#graph-container{
		overflow: scroll;
	}
	.alchemy{
		margin-right: auto;
		margin-left: auto;
	}
}

#example-code{
	pre{
		overflow: scroll;
		height: 450px;
	}
}
.alchemy{
	svg{
		overflow: scroll;
	}
}