#examples{
	padding: 100px 0;
	.active{
		background: $blue;
	}
}

.example-list{
	font-size: 16px;
	a:hover{
		text-decoration: none;
	}
}
.example-code{
	pre{
		overflow: scroll;
		height: 450px;
	}
}