$blue: #1e75bb;
$orange: #FDC670;
$bright-orange: #E89619;

@mixin alchemy-text(){
	text-align: left;
	h1,h2{
		line-height: 1.1em;
	}
	h3{
		line-height: 1.5em;
	}
	h5>a:hover{
		text-decoration: none;
		color: $bright-orange;
	}
}

body{
	font-family: 'Source Sans Pro', 'Lato', 'Helvetica', 'sans-serif';
	color: black;
	font-weight: 300;
	h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5{
		font-weight: 300;
	}
}

/*Override Main Content Styles*/
.header{
	background: $blue;
	border-bottom: thin solid darken($blue, 10%);
	margin-bottom: 0px;
	.h3{
		padding: 0 20px;
		margin: 0;
		line-height: 70px;
		color: $bright-orange;
		text-shadow: 0px 0px 1px $blue, 0px 0px 20px white;
	}
}
.footer{
	background: #eee;
}

/* Panel Wrapper Styles*/
#footer-ga-logo{
	height: 30px;
}

#team-wrapper, #alchemy-info-wrapper, #carousel-wrapper{
	min-height: 100vh;
}
#alchemy-info-wrapper{
	background-color: white;
	text-align: center;
	#about{
		@include alchemy-text();
		background: #eee;
		border-top: thin solid $bright-orange;
		border-bottom: thin solid $bright-orange;
		text-align: center;
		#squash {
			padding-bottom: 50px;
			padding-top: 20px;
			max-width: 700px;
			margin: auto;
		}
	}
	#alchemy-logo{
		padding: 5%;
		min-height: 50vh;
		padding-top: 100px;
	}
}

#carousel-wrapper{
	h2{
		padding: 20px 50px;
	}
	#featureCarousel{
	 	padding: 0 10%;
	 	.carousel{
	 		max-height: 700px;
	 	}
		.carousel-caption {
			// top: 20px;
			left: 15%;
			right: 15%;
			text-shadow: 2px 2px #333;
			// &.odd {
			// 	top: 20px;
			// }
		}
	}
}

/* Content styles */
#team-wrapper{
	background: #eee;
	#meet-team{
		border-top: thin solid $bright-orange;
		padding: 50px;
		@include alchemy-text();
	}
	#team-data, #team-html{
		padding: 5% inherit;
		pre{
			background: #eee;
			height: 500px;
			overflow: scroll;
		}
	}
	#team-svg{
		padding: 0;
		height: 450px;
		#alchemy{
			color:white;
			height: 400px;
			border-radius: 5px;
			background-color: black;
		}
	}
}

/* Button Styles */
#sm-alchemy-logo{
	padding: 20px 0;
	img{
		height: 90px;
	}
}

/* Override and add to bootstrap styles*/
.navbar-default{
	background-color: transparent;
	border-bottom: 0;
}
.navbar{
	height: 70px;
}
.nav-pills{
	padding-right: 20px;
	padding-top: 15px;
	float: right;
	> li + li {
		margin: 0;
	}
	li > a{
		color: rgba(white, .7);
		border-radius: 0;
	}
	li{
		color: transparent;
		vertical-align: middle;
		a{
			padding-right: 10px;
			padding-left: 10px;
			&:active, &:hover{
				color: $blue;
			}
		}
	}
}

.tooltip-inner{
	padding: 5px 10px;
	background: darken($blue, 10%);
}

.tooltip{
	font-size: 14px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: $bright-orange;
}

.btn{
	border: none;
	border-radius: 8px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

hr{
	border-top: solid 1px $bright-orange;
	margin: 0;
} 

#btn-alchemy-rel{
	background: rgba($blue, .3);
	color: $blue;
	margin-right: 10%;
	float: right;
	border: thin solid rgba($blue, .3);
	box-shadow: 2px 2px 10px rgba(white, .7), 2px 2px 15px $blue;
	img{
		height: 45px;
	}
	h3{
		margin-top: 10px;
		margin-bottom: 0;
	}
	&:active{
		background: rgba($blue, .9);
		border: none;
	}
	&:focus, &:active{
		outline: none;
	}
}

