svg{
	overflow: hidden;
	.node circle.root{
		fill: $orange;
		stroke: $bright-orange;
	}

	.node.active.selected{
		circle{
			fill: $blue;
		}
	}

	.node.root.active.selected{
		circle{
			fill:$bright-orange;
		}	
	}

	.edge{
		stroke-opacity: .5;
	}
}