#example4 {
    circle {
        fill: white !important;
        fill-opacity: .5 !important;
        stroke-width: 3 !important;
        stroke-opacity: 1 !important;
        stroke: black !important;
    }

    circle.root {
        stroke-width: 5 !important;
        fill: lightblue !important;
        fill-opacity: 1 !important;
    }

    circle.award {
        stroke: yellow !important;
        stroke-width: 1 !important;
    }

    circle.person {
        stroke: lightblue !important;
        stroke-width: 1 !important;
    }
    .selected circle{
        fill-opacity: 1 !important;
        stroke-width: 4 !important;
        stroke: lightblue !important;
    }

    .edge {
        stroke-linecap: round !important;
        stroke: lightblue !important;
        stroke-opacity: 0.4 !important;
        stroke-width: 2 !important;
    }

    .edge.NOMINATED {
        stroke: lightblue !important;
    }

    .edge.RECEIVED {
        stroke-dasharray: 10,5,2,2,2,5 !important;
        stroke: yellow !important;
        stroke-opacity: 1 !important;
    }

    .edge.ACTED_IN {
        stroke: green !important;
    }

    .edge.selected {
        stroke: lightblue !important;
        stroke-opacity: 1 !important;
        stroke-dasharray: none !important;
    }
}
