$icon-font-path: "fonts/";
$fa-font-path: "fonts/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'nav';
@import 'landing';
@import 'svg';
@import 'examples';

a {cursor: pointer;}

.container-fluid {
    padding: 0;
    margin: 0;
}
pre.prettyprint {
    padding-left: 15px;
}
/* Custom page footer */
.footer {
    padding: 20px 0;
    color: #777;
    border-top: 1px solid #e5e5e5;
    position: relative;
    bottom: 0px;
    width: 100%;
    p{
        padding: 0 20px;
        margin: 0;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    #sm-alchemy-logo{
        display: none;
    }
    // .container-fluid>.row{
    //     margin: 0 10%;
    // }
}
@media only screen and (max-width: 767px) and (min-width: 481px){
    #sm-alchemy-logo{
        display: none;
    }

    #about{
        //nav is 62px here
        padding-top: 90px;
    }
}

@media only screen and (min-width: 320px) 
and (max-width: 480px){
    #project, #btn-alchemy-rel>img{
        display:none;
    }
    #btn-alchemy-rel{
        margin-right: 0;
        width: 100%;
    }
    #sm-alchemy-logo{
        display: visible;
    }
    .nav-pills{
        float: none;
        margin-top: 0;
        padding-right: 0;
    }
    #about{
        //nav is 170px here + btn height
        padding-top: 220px;
    }
}
